html,
body {
  padding: 0;
  height:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: feSpotLight) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

:root {
  --primary-color:#1E58AE;
  --white-bg:#FFF; 
}